$thumb-size: 16px;

@mixin track-styles {
  appearance: none;
  background: transparent;
  border: transparent;
}

@mixin thumb-styles {
  appearance: none;
  pointer-events: all;
  width: $thumb-size;
  height: $thumb-size;
  border-radius: 0px;
  border: 0 none;
  cursor: grab;
  background-color: red;

  &:active {
    cursor: grabbing;
  }
}

.range-wrapper {
  width: calc(100% + #{$thumb-size});
  margin: 0 calc(#{$thumb-size} / -2);
  position: absolute;
  height: $thumb-size;
}

.range {
  position: absolute;
  width: 100%;
  pointer-events: none;
  appearance: none;
  height: 100%;
  opacity: 0;
  z-index: 3;
  padding: 0;

  &::-ms-track {
    @include track-styles;
  }

  &::-moz-range-track {
    @include track-styles;
  }

  &:focus::-webkit-slider-runnable-track {
    @include track-styles;
  }

  &::-ms-thumb {
    @include thumb-styles;
  }

  &::-moz-range-thumb {
    @include thumb-styles;
  }

  &::-webkit-slider-thumb {
    @include thumb-styles;
  }
};

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0px calc(#{$thumb-size} / 2);
  padding-top: 0;
  height: calc(#{$thumb-size} + 1.6rem);
}

.track-wrapper {
  width: 100%;
  position: absolute;
  height: $thumb-size;
}

.thumb {
  width: $thumb-size;
  height: $thumb-size;
  border-radius: 50%;
  position: absolute;
  background: black;
  top: 50%;
  margin-left: calc(#{$thumb-size} / -2);
  transform: translate3d(0, -50%, 0);
  z-index: 2;
}

.track {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  height: 6px;
  border-radius: 3px;
  background: lightgrey;
}

.left-track{
  position: absolute;
  height: 100%;
  background: blue;
  // opacity: 0.5;
}

.right-track{
  position: absolute;
  height: 100%;
  background: blue;
  // opacity: 0.5;
}



.bubble-mean {
  background: blue;
  color: white;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  top: -30px;
}

.bubble-mean::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: blue;
  top: -1px;
  left: 50%;
}

.bubble-thumb-left {
  background: blue;
  color: white;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
}

.bubble-thumb-left::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: blue;
  top: -1px;
  left: 50%;
}

.bubble-thumb-right {
  background: blue;
  color: white;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
}

.bubble-thumb-right::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: blue;
  top: -1px;
  left: 50%;
}

.bubble-min {
  background: red;
  color: white;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  //left: 50%;
  margin-left: 8px;
  transform: translateX(0%);
  top: -30px;
}

.bubble-min::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: red;
  top: -1px;
  left: 50%;
}

.bubble-max {
  background: red;
  color: white;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  right: 0px;

  //left: 50%;
  margin-right: 8px;
  //transform: translateX(-100%);
  top: -30px;
}

.bubble-max::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: red;
  top: -1px;
  left: 50%;
}
